---
import ContentSection from "~/components/content-section.astro";
import CompatibilityList from "~/components/compatibility-list.astro";
import { Icon } from "astro-icon/components";
import Perfiles from "~/components/perfiles.astro";
import type { FeatureItem, CompatibilityItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "React.Js",
    description:
      "React es una biblioteca de JavaScript desarrollada por Facebook para construir interfaces de usuario interactivas y eficientes. Utiliza un enfoque basado en componentes que permite la construcción modular de aplicaciones, facilitando el desarrollo y mantenimiento.",
    icon: "mdi:react",
  },
  {
    title: "Tailwind CSS",
    description:
      "Tailwind CSS es un marco de diseño utilitario para la construcción de interfaces web. Se basa en clases predefinidas que se aplican directamente al HTML para estilizar elementos. Es altamente personalizable y favorece un enfoque de diseño más funcional.",
    icon: "mdi:tailwind",
  },
  {
    title: "Next.Js",
    description:
      "Next.js es un framework de React que permite renderizado del lado del servidor (SSR) y generación de sitios estáticos. Ofrece una gran cantidad de herramientas y funcionalidades para el desarrollo web moderno.",
    icon: "mdi:language-javascript",
  },
];

const frameworks: Array<CompatibilityItem> = [
  {
    title: "React",
    icon: "frameworks/react",
    url: "https://reactjs.org/",
  },
  {
    title: "Preact",
    icon: "frameworks/preact",
    url: "https://preactjs.com/",
  },
  {
    title: "Svelte",
    icon: "frameworks/svelte",
    url: "https://svelte.dev/",
  },
  {
    title: "Vue",
    icon: "frameworks/vue",
    url: "https://vuejs.org/",
  },
  {
    title: "Solid",
    icon: "frameworks/solid",
    url: "https://www.solidjs.com/",
  },
  {
    title: "Lit",
    icon: "frameworks/lit",
    url: "https://lit.dev/",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "Netlify",
    icon: "platforms/netlify",
    url: "https://www.netlify.com/",
  },
  {
    title: "Vercel",
    icon: "platforms/vercel",
    url: "https://vercel.com/",
  },
  {
    title: "Cloudflare",
    icon: "fa-brands:cloudflare",
    url: "https://pages.cloudflare.com/",
  },
  {
    title: "Render",
    icon: "platforms/render",
    url: "https://render.com/",
  },
  {
    title: "GitHub",
    icon: "fa-brands:github",
    url: "https://pages.github.com/",
  },
  {
    title: "GitLab",
    icon: "fa-brands:gitlab",
    url: "https://docs.gitlab.com/ee/user/project/pages/",
  },
];
---

<ContentSection title="¿Quiénes somos?" id="nosotros">
  <Fragment slot="lead">
    <span>
      No somos solo una agencia digital, somos <span class="text-primary"
        >Golden Growth</span
      >, tu partner digital que impulsa tu negocio. Destacamos por nuestra
      constante actualización en las últimas tecnologías y tendencias. Expertos
      en ofrecer la <span class="text-primary"
        >mejor solución personalizada</span
      > para tu empresa, negocio o proyecto, acelerando su crecimiento de manera
      eficiente.
    </span>
  </Fragment>

  <!-- Platforms/frameworks -->
  <!-- <CompatibilityList items={frameworks} title="Frameworks" />
  <CompatibilityList items={platforms} title="Plataformas" /> -->

  <!-- Technologies -->
  <!-- <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul> -->

  <section class="max-w-[88rem] py-12">
    <div class="container mx-auto px-4">
      <div class="-mx-4 flex flex-wrap gap-10">
        <div
          class="group relative overflow-hidden rounded-lg px-6 pb-8 pt-10 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl sm:rounded-lg sm:px-10"
        >
          <span
            class="absolute top-10 z-0 h-20 w-20 rounded-full bg-primary transition-all duration-300 group-hover:scale-[15]"
          ></span>
          <div class="relative z-10 mx-auto max-w-md">
            <span
              class="grid h-20 w-20 place-items-center rounded-full bg-primary transition-all duration-300 group-hover:bg-primary"
            >
              <Icon
                class="h-10 w-10 text-white transition-all"
                name={"mdi:shield-account-outline"}
              />
            </span>
            <h2
              class="group-hover:text-dark mt-5 font-bold transition-all duration-300 text-2xl"
            >
              Nuestra Misión
            </h2>
            <div
              class="group-hover:text-dark space-y-6 pt-5 leading-7 transition-all duration-300 text-base"
            >
              <p class="text-pretty">
                Nuestra misión es proporcionar soluciones de marketing digital
                innovadoras y efectivas que impulsen el éxito y el crecimiento
                de nuestros clientes. Nos comprometemos a ofrecer estrategias
                personalizadas, creatividad excepcional y resultados medibles
                para satisfacer las necesidades únicas de cada cliente.
              </p>
            </div>
          </div>
        </div>
        <div
          class="group relative overflow-hidden rounded-lg px-6 pb-8 pt-10 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl sm:rounded-lg sm:px-10"
        >
          <span
            class="absolute top-10 z-0 h-20 w-20 rounded-full bg-primary transition-all duration-300 group-hover:scale-[15]"
          ></span>
          <div class="relative z-10 mx-auto max-w-md">
            <span
              class="grid h-20 w-20 place-items-center rounded-full bg-primary transition-all duration-300 group-hover:bg-primary"
            >
              <Icon
                class="h-10 w-10 text-white transition-all"
                name={"mdi:eye-outline"}
              />
            </span>
            <h2
              class="group-hover:text-dark mt-5 font-bold transition-all duration-300 text-2xl"
            >
              Nuestra Visión
            </h2>
            <div
              class="group-hover:text-dark space-y-6 pt-5 leading-7 transition-all duration-300 text-base"
            >
              <p class="text-pretty">
                Nuestra visión es ser líderes en la industria del marketing
                digital, reconocidos por nuestra excelencia, creatividad y
                compromiso con la innovación. Nos esforzamos por ser un socio
                estratégico para nuestros clientes, ayudándolos a alcanzar y
                superar sus objetivos de negocio con soluciones digitales de
                vanguardia.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- PERFILES -->
  <!-- <Perfiles /> -->
</ContentSection>
